
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 16px;
    margin-left: -8px;

    width: 100%;
    height: 192px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../src/assets/img/Hero.jpg);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__h3 {
    padding: 0;
    gap: 0;
    margin-block: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.hero__p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.hero__button {
    text-decoration: none;
    color: white;
    border: 1px solid #2A7AE4;
    background: #2A7AE4;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    gap: 4px;

width: 119px;
height: 40px;
}

