.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #EAF2FD;
    padding: 16px;
}

.footer__title {
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.footer__logo {
    width: 40px;
}

.footer__text {
    margin-left: 5px;
    font-size: 35px;
    height: 18px;
}

.footer__link {
    text-decoration: none;
    align-items: center;
    width: 328px;
    height: 19px;
    margin-top: 16px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    /* Preto/100% */
    color: #464646; 
}

.fale {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fale__title {
    font-size: 16px;
}

.footer__form {

    width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
}

.footer__form-name {
      
        width: 100%;
        padding:  .8rem 1.2rem;
        display: flex;
        flex-direction: column;
        gap: .4rem;
        background-color: white;
        border-bottom: 1px solid transparent;
        border-radius:  .8rem;
        transition: all .4s ease;
}


.label {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.input {
          border: none;
          color: black;
          font-size: 16px;
          font-weight: 400;
          font-family: 'Raleway', sans-serif;
          line-height: 2rem;
          
        }

.input:focus {
    outline: none;
  }

.input:hover {
          cursor: text;
          border-bottom: 1px solid black;
        }

.footer__button {
    margin-top: 16px;
    color: white;
    background: #2A7AE4;
    width: 151px;
    height: 40px;
    padding: 12px 16px;
    gap: 10px;
}
